@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    background-image: url("https://miro.medium.com/proxy/1*W995RAH1aAbUj_R-JwPhYA.png");
    background-size: cover;
}
.image {
    width: 100%;
}

.counter{
    display:flex;
    flex-direction: column;
}


.counterBox {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.counterBox__item{
    background: rgb(13, 44, 85);
    margin: 0.5rem;
    margin-left: 1.5rem;
    padding: 1rem;
    font-size: 6rem;
    font-family: 'Roboto Mono', monospace;
}

.buttonsControl {
    display: flex;
    justify-content: center;
}

.buttonsControl__item {
    background: rgb(13, 44, 85);
    width: 12.5rem;
    color: white;
    font-size: 4rem;
    margin-top: 0.5rem;
}